[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
notebook = "*"

[packages]
electionsbr = "*"
numpy = "==1.19.2"
pylint = "*"
sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.8"
